.header-content{
    text-align: center!important;
     
}
h1{
color:#e86f6f !important;
}

.formDiv {
    width: 50%;
    display: inline-block;
    background: #f5f4f4;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    border: 3px solid #e86f6f;
}

.thankYouHeading{
    color:green

}