<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
<div class="container">
  <div class="header-content">
    <h1> Welcome To Node Docker Project!</h1>
    <h3> This project explains how to deploy a basic node application to server using docker.</h3>
    <%- include('../partials/form') %>
  </div>
  </div>
</body>

<%- include('../partials/footer') %>