<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body>
<div class="container">
 <h4 class="thankYouHeading"><%- userDetails?.name %> Thank you for submitting your details. Your details have been recorded in your database.</h4>
  </div>
</body>

<%- include('../partials/footer') %>